# Caso carvana: Analisis de datos 

Carvana es una empresa estadounidense que se dedica a la venta online de coches usados, ofreciendo una experiencia innovadora y cómoda a los clientes, que pueden elegir entre miles de vehículos, financiarlos, comprarlos y recibirlos en su casa o en una de sus máquinas expendedoras.

El caso de Carvana Don’t Get Kicked es una competencia de Kaggle que consiste en predecir si un coche comprado en una subasta es una buena o mala compra, basándose en una serie de variables que describen el coche, como el año, el modelo, el color, el precio, etc. El objetivo es crear un modelo de clasificación que pueda identificar los coches que tienen problemas graves o defectos que impiden su venta a los clientes, es decir, los coches que son un “limón”. El conjunto de datos contiene información de más de 70.000 coches, de los cuales el 12% son malas compras.

## Parametros:

* RefId: Es el identificador único de cada coche en el conjunto de datos.
* IsBadBuy: Es la variable objetivo, que indica si el coche es una buena o mala compra. Tiene dos valores posibles: 0 (buena compra) o 1 (mala compra).
* PurchDate: Es la fecha de compra del coche.
* Auction: Es el nombre de la subasta donde se compró el coche.
* VehYear: Es el año de fabricación del coche.
* VehicleAge: Es la edad del coche en años, calculada como la diferencia entre el año de compra y el año de fabricación.
* Make: Es la marca del coche.
* Model: Es el modelo del coche.
* Trim: Es el nivel de equipamiento del coche, que indica las características y opciones que tiene el coche. Por ejemplo, LX, EX, SE, etc.
* SubModel: Es el submodelo del coche, que indica una variación específica dentro del modelo. Por ejemplo, 4D SEDAN, 2D COUPE, etc.
* Color: Es el color exterior del coche.
* Transmission: Es el tipo de transmisión del coche. Tiene dos valores posibles: AUTO (automática) o MANUAL (manual).
* WheelTypeID: Es el identificador del tipo de rueda del coche.
* WheelType: Es el tipo de rueda del coche. Tiene tres valores posibles: Alloy (aleación), Covers (tapacubos) o Special (especial).
* VehOdo: Es el odómetro del coche, que indica la distancia recorrida por el coche en millas.
* Nationality: Es la nacionalidad del coche, que indica el país de origen del fabricante.
* Size: Es el tamaño del coche, que indica la categoría a la que pertenece según sus dimensiones. Por ejemplo, SMALL, MEDIUM, LARGE, etc.
* TopThreeAmericanName: Es el nombre de la marca del coche, agrupado en las tres principales marcas americanas. Tiene cuatro valores posibles: GM, CHRYSLER, FORD o OTHER.
* MMRAcquisitionAuctionAveragePrice: Es el precio promedio del coche en la subasta de adquisición, según el MMRA (Manheim Market Report).
* MMRAcquisitionAuctionCleanPrice: Es el precio limpio del coche en la subasta de adquisición, según el MMRA. El precio limpio es el precio del coche sin tener en cuenta los daños o defectos.
* MMRAcquisitionRetailAveragePrice: Es el precio promedio del coche en el mercado minorista, según el MMRA.
* MMRAcquisitonRetailCleanPrice: Es el precio limpio del coche en el mercado minorista, según el MMRA.
* MMRCurrentAuctionAveragePrice: Es el precio promedio del coche en la subasta actual, según el MMRA.
* MMRCurrentAuctionCleanPrice: Es el precio limpio del coche en la subasta actual, según el MMRA.
* MMRCurrentRetailAveragePrice: Es el precio promedio del coche en el mercado minorista actual, según el MMRA.
* MMRCurrentRetailCleanPrice: Es el precio limpio del coche en el mercado minorista actual, según el MMRA.
* PRIMEUNIT: Es una variable que indica si el coche es una unidad principal, es decir, si tiene una alta demanda y un alto valor. Tiene dos valores posibles: YES o NO.
* AUCGUART: Es una variable que indica si el coche tiene una garantía de la subasta. Tiene tres valores posibles: GREEN, RED o NULL.
* BYRNO: Es el número del comprador que compró el coche en la subasta.
* VNZIP1: Es el código postal donde se compró el coche.
* VNST: Es el estado donde se compró el coche.
* VehBCost: Es el coste del coche para el comprador, incluyendo las tasas de la subasta.
* IsOnlineSale: Es una variable que indica si el coche se compró online o no. Tiene dos valores posibles: 0 (no) o 1 (sí).
* WarrantyCost: Es el coste de la garantía del coche para el comprador.

## Descarga del fichero
Archivo: training_car.csv

https://www.kaggle.com/datasets/salilchitnis/carvana

In [72]:
import pandas as pd
import numpy as np
import altair as alt; alt.data_transformers.enable("vegafusion")
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns

In [73]:
df = pd.read_csv("training_car.csv", index_col="RefId")

df

,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
RefId,,,,,,,,,,,,,,,,,,,,,
1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,1,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,...,4836.0,5937.0,NaN,NaN,18111,30212,GA,4200.0,0,993
73011,0,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,...,10151.0,11652.0,NaN,NaN,18881,30212,GA,6200.0,0,1038
73012,0,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,...,11831.0,14402.0,NaN,NaN,18111,30212,GA,8200.0,0,1893
73013,0,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,...,10099.0,11228.0,NaN,NaN,18881,30212,GA,7000.0,0,1974
73014,0,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,...,11954.0,13246.0,NaN,NaN,18111,30212,GA,8000.0,0,1313

In [74]:
#mover la columna "IsBadBuy" al final del Dataset. la columna es la salida de los diferentes paratametros
column_IsBadBuy=df.pop("IsBadBuy")
df["IsBadBuy"]=column_IsBadBuy
df.sample(10)

,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,...,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
RefId,,,,,,,,,,,,,,,,,,,,,
72911,9/23/2009,ADESA,2006,3,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,WHITE,AUTO,...,15639.0,NaN,NaN,18881,30212,GA,9000.0,0,1740,0
64663,11/17/2010,ADESA,2006,4,CHEVROLET,COBALT,LS,2D COUPE,WHITE,AUTO,...,7388.0,NaN,NaN,21053,85226,AZ,6545.0,0,728,0
41295,6/10/2010,MANHEIM,2005,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 3.7L,BLUE,MANUAL,...,12204.0,NaN,NaN,18880,29532,SC,8975.0,0,594,0
46530,8/26/2009,MANHEIM,2004,5,CHEVROLET,AVALANCHE 1500 2WD V,150,4D SUV-PICKUP 5.3L,GREEN,AUTO,...,11904.0,NaN,NaN,5546,33809,FL,10225.0,0,1485,0
25459,5/5/2009,MANHEIM,2006,3,CHEVROLET,IMPALA 3.5L V6 SFI,LS,4D SEDAN LS,BLUE,AUTO,...,9256.0,NaN,NaN,17212,75050,TX,7125.0,0,1974,0
62791,5/3/2010,MANHEIM,2006,4,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,AUTO,...,11633.0,NaN,NaN,1191,28625,NC,7700.0,1,1974,0
52813,7/26/2010,OTHER,2004,6,FORD,RANGER PICKUP 2WD V6,Edg,REG CAB 3.0L EDGE,WHITE,AUTO,...,10618.0,NaN,NaN,19638,26431,WV,5218.0,0,533,0
48049,6/19/2009,MANHEIM,2006,3,CHEVROLET,MALIBU 4C 2.2L I4 MP,LT,4D SEDAN LT,WHITE,AUTO,...,8390.0,NaN,NaN,20928,33314,FL,5965.0,0,1113,0
7684,5/18/2009,MANHEIM,2005,4,DODGE,STRATUS V6 2.7L V6 M,SXT,4D SEDAN SXT FFV,WHITE,AUTO,...,7611.0,NaN,NaN,20740,27542,NC,5100.0,0,1086,0
22004,6/30/2010,MANHEIM,2005,5,DODGE,DURANGO 4WD V8,SLT,4D SUV 4.7L,WHITE,AUTO,...,13583.0,NaN,NaN,99750,16066,PA,10000.0,0,1411,0

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72983 entries, 1 to 73014
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   PurchDate                          72983 non-null  object
 1   Auction                            72983 non-null  object
 2   VehYear                            72983 non-null  int64
 3   VehicleAge                         72983 non-null  int64
 4   Make                               72983 non-null  object
 5   Model                              72983 non-null  object
 6   Trim                               70623 non-null  object
 7   SubModel                           72975 non-null  object
 8   Color                              72975 non-null  object
 9   Transmission                       72974 non-null  object
 10  WheelTypeID                        69814 non-null  float64
 11  WheelType                          69809 non-null  object
 12  VehOdo                             72983 non-null  int64
 13  Nationality                        72978 non-null  object
 14  Size                               72978 non-null  object
 15  TopThreeAmericanName               72978 non-null  object
 16  MMRAcquisitionAuctionAveragePrice  72965 non-null  float64
 17  MMRAcquisitionAuctionCleanPrice    72965 non-null  float64
 18  MMRAcquisitionRetailAveragePrice   72965 non-null  float64
 19  MMRAcquisitonRetailCleanPrice      72965 non-null  float64
 20  MMRCurrentAuctionAveragePrice      72668 non-null  float64
 21  MMRCurrentAuctionCleanPrice        72668 non-null  float64
 22  MMRCurrentRetailAveragePrice       72668 non-null  float64
 23  MMRCurrentRetailCleanPrice         72668 non-null  float64
 24  PRIMEUNIT                          3419 non-null   object
 25  AUCGUART                           3419 non-null   object
 26  BYRNO                              72983 non-null  int64
 27  VNZIP1                             72983 non-null  int64
 28  VNST                               72983 non-null  object
 29  VehBCost                           72983 non-null  float64
 30  IsOnlineSale                       72983 non-null  int64
 31  WarrantyCost                       72983 non-null  int64
 32  IsBadBuy                           72983 non-null  int64
dtypes: float64(10), int64(8), object(15)
memory usage: 18.9+ MB

In [76]:
df.describe()

,VehYear,VehicleAge,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
count,72983.000000,72983.000000,69814.000000,72983.000000,72965.000000,72965.000000,72965.000000,72965.000000,72668.000000,72668.000000,72668.000000,72668.000000,72983.000000,72983.000000,72983.000000,72983.000000,72983.000000,72983.000000
mean,2005.343052,4.176644,1.494299,71499.995917,6128.909217,7373.636031,8497.034332,9850.928240,6132.081287,7390.681827,8775.723331,10145.385314,26345.842155,58043.059945,6730.934326,0.025280,1276.580985,0.122988
std,1.731252,1.712210,0.521290,14578.913128,2461.992768,2722.491986,3156.285284,3385.789541,2434.567723,2686.248852,3090.702941,3310.254351,25717.351219,26151.640415,1767.846435,0.156975,598.846788,0.328425
min,2001.000000,0.000000,0.000000,4825.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,835.000000,2764.000000,1.000000,0.000000,462.000000,0.000000
25%,2004.000000,3.000000,1.000000,61837.000000,4273.000000,5406.000000,6280.000000,7493.000000,4275.000000,5414.000000,6536.000000,7784.000000,17212.000000,32124.000000,5435.000000,0.000000,837.000000,0.000000
50%,2005.000000,4.000000,1.000000,73361.000000,6097.000000,7303.000000,8444.000000,9789.000000,6062.000000,7313.000000,8729.000000,10103.000000,19662.000000,73108.000000,6700.000000,0.000000,1155.000000,0.000000
75%,2007.000000,5.000000,2.000000,82436.000000,7765.000000,9021.000000,10651.000000,12088.000000,7736.000000,9013.000000,10911.000000,12309.000000,22808.000000,80022.000000,7900.000000,0.000000,1623.000000,0.000000
max,2010.000000,9.000000,3.000000,115717.000000,35722.000000,36859.000000,39080.000000,41482.000000,35722.000000,36859.000000,39080.000000,41062.000000,99761.000000,99224.000000,45469.000000,1.000000,7498.000000,1.000000

In [77]:
# Mostrar los valores únicos que tiene un atributo determinado
df["IsBadBuy"].value_counts()
#Porcentaje malas compras sin limpieza de datos
percent_bad_buy=(df[df["IsBadBuy"]==1].count()["IsBadBuy"] *100)/df["IsBadBuy"].count()
print(f"Porcentaje de compras malas son: {percent_bad_buy: .2f} %")

Porcentaje de compras malas son:  12.30 %

In [78]:
#Ver si existe valores nulos
df.isna().any()

PurchDate                            False
Auction                              False
VehYear                              False
VehicleAge                           False
Make                                 False
Model                                False
Trim                                  True
SubModel                              True
Color                                 True
Transmission                          True
WheelTypeID                           True
WheelType                             True
VehOdo                               False
Nationality                           True
Size                                  True
TopThreeAmericanName                  True
MMRAcquisitionAuctionAveragePrice     True
MMRAcquisitionAuctionCleanPrice       True
MMRAcquisitionRetailAveragePrice      True
MMRAcquisitonRetailCleanPrice         True
MMRCurrentAuctionAveragePrice         True
MMRCurrentAuctionCleanPrice           True
MMRCurrentRetailAveragePrice          True
MMRCurrentRetailCleanPrice            True
PRIMEUNIT                             True
AUCGUART                              True
BYRNO                                False
VNZIP1                               False
VNST                                 False
VehBCost                             False
IsOnlineSale                         False
WarrantyCost                         False
IsBadBuy                             False
dtype: bool

In [79]:
#columnas con valores nulos
columns_values_null=df[df.columns[df.isnull().any()]]
columns_values_null

,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART
RefId,,,,,,,,,,,,,,,,,,,
1,i,4D SEDAN I,RED,AUTO,1.0,Alloy,OTHER ASIAN,MEDIUM,OTHER,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,12409.0,NaN,NaN
2,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,1.0,Alloy,AMERICAN,LARGE TRUCK,CHRYSLER,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,12791.0,NaN,NaN
3,SXT,4D SEDAN SXT FFV,MAROON,AUTO,2.0,Covers,AMERICAN,MEDIUM,CHRYSLER,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,8702.0,NaN,NaN
4,SXT,4D SEDAN,SILVER,AUTO,1.0,Alloy,AMERICAN,COMPACT,CHRYSLER,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,5518.0,NaN,NaN
5,ZX3,2D COUPE ZX3,SILVER,MANUAL,2.0,Covers,AMERICAN,COMPACT,FORD,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,7911.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,GS,4D SEDAN GS,BLACK,AUTO,1.0,Alloy,AMERICAN,MEDIUM,FORD,1996.0,2993.0,2656.0,3732.0,2190.0,3055.0,4836.0,5937.0,NaN,NaN
73011,LS,4D SEDAN LS,SILVER,AUTO,NaN,NaN,AMERICAN,MEDIUM,GM,6418.0,7325.0,7431.0,8411.0,6785.0,8132.0,10151.0,11652.0,NaN,NaN
73012,Lar,4D WAGON LAREDO,SILVER,AUTO,1.0,Alloy,AMERICAN,MEDIUM SUV,CHRYSLER,8545.0,9959.0,9729.0,11256.0,8375.0,9802.0,11831.0,14402.0,NaN,NaN
73013,LS,4D SEDAN LS,WHITE,AUTO,1.0,Alloy,AMERICAN,LARGE,GM,6420.0,7604.0,7434.0,8712.0,6590.0,7684.0,10099.0,11228.0,NaN,NaN
73014,s,4D SEDAN S,SILVER,AUTO,1.0,Alloy,OTHER ASIAN,MEDIUM,OTHER,7535.0,8771.0,8638.0,9973.0,7730.0,9102.0,11954.0,13246.0,NaN,NaN

In [80]:
#Filas con valores nulos
rows_values_null=df[df.isnull().any(axis=1)]
rows_values_null

,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,...,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
RefId,,,,,,,,,,,,,,,,,,,,,
1,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,...,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113,0
2,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,...,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053,0
3,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,...,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389,0
4,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,...,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630,0
5,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,...,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,AUTO,...,5937.0,NaN,NaN,18111,30212,GA,4200.0,0,993,1
73011,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,AUTO,...,11652.0,NaN,NaN,18881,30212,GA,6200.0,0,1038,0
73012,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,AUTO,...,14402.0,NaN,NaN,18111,30212,GA,8200.0,0,1893,0
73013,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,AUTO,...,11228.0,NaN,NaN,18881,30212,GA,7000.0,0,1974,0
73014,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,AUTO,...,13246.0,NaN,NaN,18111,30212,GA,8000.0,0,1313,0

In [81]:
#cantidad de valores nulos por columna
for column in df.columns:
    if df[column].isnull().any():
        print(f"{column}= {df[column].isnull().sum()}")
    else:
        continue

Trim= 2360
SubModel= 8
Color= 8
Transmission= 9
WheelTypeID= 3169
WheelType= 3174
Nationality= 5
Size= 5
TopThreeAmericanName= 5
MMRAcquisitionAuctionAveragePrice= 18
MMRAcquisitionAuctionCleanPrice= 18
MMRAcquisitionRetailAveragePrice= 18
MMRAcquisitonRetailCleanPrice= 18
MMRCurrentAuctionAveragePrice= 315
MMRCurrentAuctionCleanPrice= 315
MMRCurrentRetailAveragePrice= 315
MMRCurrentRetailCleanPrice= 315
PRIMEUNIT= 69564
AUCGUART= 69564

# Limpieza de datos
Se decidio eliminar las columnas PRIMEUNIT, AUCGUART debido a la gran cantidad de datos nulos y las filas de las columnas con menos de 10 valores nulos. A las demas columnas con valores nulos se hara imputer con la mediana.

In [82]:
# Creamos una copia del Dataset en el cual se van a eliminar columnas, filas y relleno de datos
df_copy=df.copy()
df_copy

,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,...,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
RefId,,,,,,,,,,,,,,,,,,,,,
1,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,...,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113,0
2,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,...,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053,0
3,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,...,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389,0
4,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,...,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630,0
5,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,...,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,AUTO,...,5937.0,NaN,NaN,18111,30212,GA,4200.0,0,993,1
73011,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,AUTO,...,11652.0,NaN,NaN,18881,30212,GA,6200.0,0,1038,0
73012,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,AUTO,...,14402.0,NaN,NaN,18111,30212,GA,8200.0,0,1893,0
73013,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,AUTO,...,11228.0,NaN,NaN,18881,30212,GA,7000.0,0,1974,0
73014,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,AUTO,...,13246.0,NaN,NaN,18111,30212,GA,8000.0,0,1313,0

In [83]:
#borrado de columnas
df_copy=df_copy.drop(columns=["PRIMEUNIT","AUCGUART"])
df_copy

,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,...,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
RefId,,,,,,,,,,,,,,,,,,,,,
1,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,...,8552.0,11597.0,12409.0,21973,33619,FL,7100.0,0,1113,0
2,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,...,9222.0,11374.0,12791.0,19638,33619,FL,7600.0,0,1053,0
3,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,...,5557.0,7146.0,8702.0,19638,33619,FL,4900.0,0,1389,0
4,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,...,2646.0,4375.0,5518.0,19638,33619,FL,4100.0,0,630,0
5,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,...,4384.0,6739.0,7911.0,19638,33619,FL,4000.0,0,1020,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,AUTO,...,3055.0,4836.0,5937.0,18111,30212,GA,4200.0,0,993,1
73011,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,AUTO,...,8132.0,10151.0,11652.0,18881,30212,GA,6200.0,0,1038,0
73012,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,AUTO,...,9802.0,11831.0,14402.0,18111,30212,GA,8200.0,0,1893,0
73013,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,AUTO,...,7684.0,10099.0,11228.0,18881,30212,GA,7000.0,0,1974,0
73014,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,AUTO,...,9102.0,11954.0,13246.0,18111,30212,GA,8000.0,0,1313,0

In [84]:
#Eliminado filas con columnas nulas menores a 10 datos en dataset df_copy
df_copy.dropna(subset=["SubModel","Color","Transmission","Nationality","Size","TopThreeAmericanName"], inplace=True)
df_copy

,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,...,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
RefId,,,,,,,,,,,,,,,,,,,,,
1,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,...,8552.0,11597.0,12409.0,21973,33619,FL,7100.0,0,1113,0
2,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,...,9222.0,11374.0,12791.0,19638,33619,FL,7600.0,0,1053,0
3,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,...,5557.0,7146.0,8702.0,19638,33619,FL,4900.0,0,1389,0
4,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,...,2646.0,4375.0,5518.0,19638,33619,FL,4100.0,0,630,0
5,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,...,4384.0,6739.0,7911.0,19638,33619,FL,4000.0,0,1020,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,AUTO,...,3055.0,4836.0,5937.0,18111,30212,GA,4200.0,0,993,1
73011,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,AUTO,...,8132.0,10151.0,11652.0,18881,30212,GA,6200.0,0,1038,0
73012,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,AUTO,...,9802.0,11831.0,14402.0,18111,30212,GA,8200.0,0,1893,0
73013,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,AUTO,...,7684.0,10099.0,11228.0,18881,30212,GA,7000.0,0,1974,0
73014,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,AUTO,...,9102.0,11954.0,13246.0,18111,30212,GA,8000.0,0,1313,0

In [85]:
# Verificar columnas con valores nulos que quedan en dataset df_copy
for column in df_copy.columns:
    if df_copy[column].isnull().any():
        print(f"{column}= {df_copy[column].isnull().sum()}")
    else:
        continue

Trim= 2359
WheelTypeID= 3161
WheelType= 3166
MMRAcquisitionAuctionAveragePrice= 18
MMRAcquisitionAuctionCleanPrice= 18
MMRAcquisitionRetailAveragePrice= 18
MMRAcquisitonRetailCleanPrice= 18
MMRCurrentAuctionAveragePrice= 311
MMRCurrentAuctionCleanPrice= 311
MMRCurrentRetailAveragePrice= 311
MMRCurrentRetailCleanPrice= 311

## Llenado de datos faltantes

Se aplica un llenado de datos a los valores nulos faltantes usando la moda  como llenado en columnas categoricas y mediana en valores numericos, esto repercute en el analisis de datos por lo que seria conveniente hacer un llenado de datos utilizando algun algoritmo. Se observa que la columna WheelTypeID es un identificador de tipo de rueda la cual puede tomar tres valores, al cual se le aplicara un llenado usando SimpleImputer().

In [86]:
df_copy=df_copy.drop(columns=["WheelTypeID"])
df_copy

,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,...,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
RefId,,,,,,,,,,,,,,,,,,,,,
1,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,...,8552.0,11597.0,12409.0,21973,33619,FL,7100.0,0,1113,0
2,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,...,9222.0,11374.0,12791.0,19638,33619,FL,7600.0,0,1053,0
3,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,...,5557.0,7146.0,8702.0,19638,33619,FL,4900.0,0,1389,0
4,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,...,2646.0,4375.0,5518.0,19638,33619,FL,4100.0,0,630,0
5,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,...,4384.0,6739.0,7911.0,19638,33619,FL,4000.0,0,1020,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,AUTO,...,3055.0,4836.0,5937.0,18111,30212,GA,4200.0,0,993,1
73011,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,AUTO,...,8132.0,10151.0,11652.0,18881,30212,GA,6200.0,0,1038,0
73012,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,AUTO,...,9802.0,11831.0,14402.0,18111,30212,GA,8200.0,0,1893,0
73013,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,AUTO,...,7684.0,10099.0,11228.0,18881,30212,GA,7000.0,0,1974,0
73014,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,AUTO,...,9102.0,11954.0,13246.0,18111,30212,GA,8000.0,0,1313,0

In [87]:
#Rellenar datos con la moda para variables categoricas y mediana para valores numericos
#categoricos
mode_Trim = df_copy["Trim"].mode().iloc[0]
# Pendiente de ver que imputer hacer mediam_WheelType
#numericos
median_MMRAcquisitionAuctionAveragePrice=df_copy["MMRAcquisitionAuctionAveragePrice"].median()
median_MMRAcquisitionAuctionCleanPrice=df_copy["MMRAcquisitionAuctionCleanPrice"].median()
median_MMRAcquisitionRetailAveragePrice=df_copy["MMRAcquisitionRetailAveragePrice"].median()
median_MMRCurrentAuctionAveragePrice=df_copy["MMRAcquisitonRetailCleanPrice"].median()
median_MMRCurrentAuctionAveragePrice=df_copy["MMRCurrentAuctionAveragePrice"].median()
median_MMRCurrentAuctionCleanPrice=df_copy["MMRCurrentAuctionCleanPrice"].median()
median_MMRCurrentRetailAveragePrice=df_copy["MMRCurrentRetailAveragePrice"].median()
median_MMRCurrentRetailCleanPrice=df_copy["MMRCurrentRetailCleanPrice"].median()


df_copy["Trim"].fillna(mode_Trim, inplace=True)
df_copy["MMRAcquisitionAuctionAveragePrice"].fillna(median_MMRAcquisitionAuctionAveragePrice,inplace=True)
df_copy["MMRAcquisitionAuctionCleanPrice"].fillna(median_MMRAcquisitionAuctionCleanPrice,inplace=True)
df_copy["MMRAcquisitionRetailAveragePrice"].fillna(median_MMRAcquisitionRetailAveragePrice,inplace=True)
df_copy["MMRAcquisitonRetailCleanPrice"].fillna(median_MMRCurrentAuctionAveragePrice,inplace=True)
df_copy["MMRCurrentAuctionAveragePrice"].fillna(median_MMRCurrentAuctionAveragePrice,inplace=True)
df_copy["MMRCurrentAuctionCleanPrice"].fillna(median_MMRCurrentAuctionCleanPrice,inplace=True)
df_copy["MMRCurrentRetailAveragePrice"].fillna(median_MMRCurrentRetailAveragePrice,inplace=True)
df_copy["MMRCurrentRetailCleanPrice"].fillna(median_MMRCurrentRetailCleanPrice,inplace=True)

# Verificar columnas con valores nulos que quedan en dataset df_copy 
for column in df_copy.columns:
    if df_copy[column].isnull().any():
        print(f"{column}= {df_copy[column].isnull().sum()}")
    else:
        continue

WheelType= 3166

# SimpleImputer de Sklearn
Usamos un llenado de datos usando la libreria de Sklearn. Primero haremos una transformacion de datos categoricos a numercicos 
con OrdinalEncoder. Despues usaremos SimpleImputer para llenado de datos usando la media como estrategia. SimpleImputer trabaja con
datos numericos, por eso la necesidad de transformar los datos categoricos a numericos. Despues usaremos una funcion inversa para volver los valores categoricos.

In [88]:
#Verificar la cantidad de columnas con datos categoricos
df_copy_columns_object=df_copy[df_copy.select_dtypes(include=['object']).columns]
df_copy_columns_object.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72969 entries, 1 to 73014
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PurchDate             72969 non-null  object
 1   Auction               72969 non-null  object
 2   Make                  72969 non-null  object
 3   Model                 72969 non-null  object
 4   Trim                  72969 non-null  object
 5   SubModel              72969 non-null  object
 6   Color                 72969 non-null  object
 7   Transmission          72969 non-null  object
 8   WheelType             69803 non-null  object
 9   Nationality           72969 non-null  object
 10  Size                  72969 non-null  object
 11  TopThreeAmericanName  72969 non-null  object
 12  VNST                  72969 non-null  object
dtypes: object(13)
memory usage: 7.8+ MB

In [89]:
#Importar modulos de sklearn para tranformar colummnas categoricas y llenado de datos faltantes
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [90]:
encoder=LabelEncoder()
df_copy['WheelType'] = encoder.fit_transform(df_copy['WheelType'])

In [91]:
# crear instancia imputer y transformar los datos faltantes de la columna WheelType
imputer= SimpleImputer(strategy='most_frequent')
imputer.fit(df_copy[['WheelType']])
df_copy['WheelType'] = imputer.transform(df_copy[['WheelType']])
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72969 entries, 1 to 73014
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   PurchDate                          72969 non-null  object
 1   Auction                            72969 non-null  object
 2   VehYear                            72969 non-null  int64
 3   VehicleAge                         72969 non-null  int64
 4   Make                               72969 non-null  object
 5   Model                              72969 non-null  object
 6   Trim                               72969 non-null  object
 7   SubModel                           72969 non-null  object
 8   Color                              72969 non-null  object
 9   Transmission                       72969 non-null  object
 10  WheelType                          72969 non-null  int32
 11  VehOdo                             72969 non-null  int64
 12  Nationality                        72969 non-null  object
 13  Size                               72969 non-null  object
 14  TopThreeAmericanName               72969 non-null  object
 15  MMRAcquisitionAuctionAveragePrice  72969 non-null  float64
 16  MMRAcquisitionAuctionCleanPrice    72969 non-null  float64
 17  MMRAcquisitionRetailAveragePrice   72969 non-null  float64
 18  MMRAcquisitonRetailCleanPrice      72969 non-null  float64
 19  MMRCurrentAuctionAveragePrice      72969 non-null  float64
 20  MMRCurrentAuctionCleanPrice        72969 non-null  float64
 21  MMRCurrentRetailAveragePrice       72969 non-null  float64
 22  MMRCurrentRetailCleanPrice         72969 non-null  float64
 23  BYRNO                              72969 non-null  int64
 24  VNZIP1                             72969 non-null  int64
 25  VNST                               72969 non-null  object
 26  VehBCost                           72969 non-null  float64
 27  IsOnlineSale                       72969 non-null  int64
 28  WarrantyCost                       72969 non-null  int64
 29  IsBadBuy                           72969 non-null  int64
dtypes: float64(9), int32(1), int64(8), object(12)
memory usage: 17.0+ MB

# HACER PCA (ANALISIS DE COMPONENTES PRINCIPALES) 
Dada la cantidad de datos no funciona bien los graficos.

In [92]:
df_copy

,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,...,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
RefId,,,,,,,,,,,,,,,,,,,,,
1,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,...,8552.0,11597.0,12409.0,21973,33619,FL,7100.0,0,1113,0
2,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,...,9222.0,11374.0,12791.0,19638,33619,FL,7600.0,0,1053,0
3,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,...,5557.0,7146.0,8702.0,19638,33619,FL,4900.0,0,1389,0
4,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,...,2646.0,4375.0,5518.0,19638,33619,FL,4100.0,0,630,0
5,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,...,4384.0,6739.0,7911.0,19638,33619,FL,4000.0,0,1020,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73010,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,AUTO,...,3055.0,4836.0,5937.0,18111,30212,GA,4200.0,0,993,1
73011,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,AUTO,...,8132.0,10151.0,11652.0,18881,30212,GA,6200.0,0,1038,0
73012,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,AUTO,...,9802.0,11831.0,14402.0,18111,30212,GA,8200.0,0,1893,0
73013,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,AUTO,...,7684.0,10099.0,11228.0,18881,30212,GA,7000.0,0,1974,0
73014,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,AUTO,...,9102.0,11954.0,13246.0,18111,30212,GA,8000.0,0,1313,0

In [93]:
#Pasamos las demas columnas categoricas a numericas OneHotEncoding
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
#seleccionar columnas categoricas y numericas
cat_columns=df_copy.select_dtypes(include="object")
cat_cols=df_copy[cat_columns.columns].columns
print(f'cat_cols: {cat_cols}')
num_columns=df_copy.select_dtypes(exclude='object')
num_cols=df_copy[num_columns.columns].columns
print(f'num_cols: {num_cols}')

cat_cols: Index(['PurchDate', 'Auction', 'Make', 'Model', 'Trim', 'SubModel', 'Color',
       'Transmission', 'Nationality', 'Size', 'TopThreeAmericanName', 'VNST'],
      dtype='object')
num_cols: Index(['VehYear', 'VehicleAge', 'WheelType', 'VehOdo',
       'MMRAcquisitionAuctionAveragePrice', 'MMRAcquisitionAuctionCleanPrice',
       'MMRAcquisitionRetailAveragePrice', 'MMRAcquisitonRetailCleanPrice',
       'MMRCurrentAuctionAveragePrice', 'MMRCurrentAuctionCleanPrice',
       'MMRCurrentRetailAveragePrice', 'MMRCurrentRetailCleanPrice', 'BYRNO',
       'VNZIP1', 'VehBCost', 'IsOnlineSale', 'WarrantyCost', 'IsBadBuy'],
      dtype='object')

In [94]:
#Instancia OneHotEncoder
ohe=OneHotEncoder(handle_unknown="ignore", sparse=False)
# Crear una instancia de ColumnTransformer con el parámetro remainder='passthrough' para conservar las columnas numéricas sin transformar
ct=ColumnTransformer([('ohe', ohe, cat_cols)], remainder='passthrough')
#Aplicar column transformed al DataFrame df_copy
transformed=ct.fit_transform(df_copy)
new_columns=ct.named_transformers_['ohe'].get_feature_names_out(cat_cols)
all_colums=list(new_columns)+list(num_cols)
ohe_df=pd.DataFrame(transformed, columns=all_colums)
ohe_df

C:\Users\ansab\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,PurchDate_1/10/2010,PurchDate_1/11/2010,PurchDate_1/12/2009,PurchDate_1/12/2010,PurchDate_1/13/2009,PurchDate_1/13/2010,PurchDate_1/14/2009,PurchDate_1/14/2010,PurchDate_1/15/2009,PurchDate_1/15/2010,...,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,IsBadBuy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7451.0,8552.0,11597.0,12409.0,21973.0,33619.0,7100.0,0.0,1113.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7456.0,9222.0,11374.0,12791.0,19638.0,33619.0,7600.0,0.0,1053.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4035.0,5557.0,7146.0,8702.0,19638.0,33619.0,4900.0,0.0,1389.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1844.0,2646.0,4375.0,5518.0,19638.0,33619.0,4100.0,0.0,630.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3247.0,4384.0,6739.0,7911.0,19638.0,33619.0,4000.0,0.0,1020.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2190.0,3055.0,4836.0,5937.0,18111.0,30212.0,4200.0,0.0,993.0,1.0
72965,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6785.0,8132.0,10151.0,11652.0,18881.0,30212.0,6200.0,0.0,1038.0,0.0
72966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8375.0,9802.0,11831.0,14402.0,18111.0,30212.0,8200.0,0.0,1893.0,0.0
72967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6590.0,7684.0,10099.0,11228.0,18881.0,30212.0,7000.0,0.0,1974.0,0.0
72968,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7730.0,9102.0,11954.0,13246.0,18111.0,30212.0,8000.0,0.0,1313.0,0.0

# Division del conjunto de datos
Se procede a dividir el conjunto de datos en 3 partes, la cuales son datos en entrenamiento (train), validacion (val) y prueba (test). Tambien se aplica una tecnica de seleccion de caracteristicas, para reducir el numero de caracteristicas a las mas importantes y con ellas aplicar un algoritmo de Random Forest.

In [95]:
# Division del conjunto de datos
# Separamos el conjunto de datos 60% train set, 40% test set
from sklearn.model_selection import train_test_split

train_set, val_set = train_test_split(ohe_df, test_size=0.4, random_state=42, stratify=ohe_df["IsBadBuy"])
# Separamos el conjunto de datos de pruebas 50% validation set, 50% test set
val_set, test_set = train_test_split(ohe_df, test_size=0.5, random_state=42,stratify=ohe_df["IsBadBuy"])

In [96]:
def remove_labels(df, label_name):
    X = ohe_df.drop(label_name, axis=1)
    y = ohe_df[label_name].copy()
    return (X, y)

X_train, y_train = remove_labels(train_set, 'IsBadBuy')
X_val, y_val = remove_labels(val_set, 'IsBadBuy')
X_test, y_test = remove_labels(test_set, 'IsBadBuy')

## Caracteristicas mas importantes con RandomForest

In [97]:
from sklearn.ensemble import RandomForestClassifier
clf_rnd = RandomForestClassifier(n_estimators=50, random_state=42, n_jobs=-1)
clf_rnd.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50, n_jobs=-1, random_state=42)

In [98]:
clf_rnd.feature_importances_

array([0.        , 0.00015555, 0.00012202, ..., 0.03589875, 0.0014328 ,
       0.0259239 ])

In [115]:
# Caracteristicas mas importantes para analisis de datos
feature_importances = {name: score for name, score in zip(list(ohe_df), clf_rnd.feature_importances_)}
feature_importances_sorted=pd.Series(feature_importances).sort_values(ascending=False)
feature_importances_sorted.head(20)

WheelType                            0.090457
VehOdo                               0.036534
VehBCost                             0.035899
MMRCurrentAuctionCleanPrice          0.033882
MMRCurrentAuctionAveragePrice        0.033709
MMRCurrentRetailAveragePrice         0.033535
MMRCurrentRetailCleanPrice           0.032350
MMRAcquisitionAuctionCleanPrice      0.032339
MMRAcquisitionAuctionAveragePrice    0.031290
MMRAcquisitonRetailCleanPrice        0.031133
MMRAcquisitionRetailAveragePrice     0.031083
BYRNO                                0.026091
WarrantyCost                         0.025924
VNZIP1                               0.025852
VehicleAge                           0.014567
VehYear                              0.014034
Auction_MANHEIM                      0.007221
Color_SILVER                         0.007111
Color_WHITE                          0.006421
VNST_TX                              0.005812
dtype: float64

### Reduccion numero de caracteristicas

In [116]:
# Extraemos las 16 caracteristicas con mas relevancia para el algoritmo
columns = list(feature_importances_sorted.head(16).index)
X_train_reduced = X_train[columns].copy()
X_val_reduced = X_val[columns].copy()
X_train_reduced.head(10)

,WheelType,VehOdo,VehBCost,MMRCurrentAuctionCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionAuctionAveragePrice,MMRAcquisitonRetailCleanPrice,MMRAcquisitionRetailAveragePrice,BYRNO,WarrantyCost,VNZIP1,VehicleAge,VehYear
0,0.0,89046.0,7100.0,8552.0,7451.0,11597.0,12409.0,9829.0,8155.0,13600.0,11636.0,21973.0,1113.0,33619.0,3.0,2006.0
1,0.0,93593.0,7600.0,9222.0,7456.0,11374.0,12791.0,8383.0,6854.0,12572.0,10897.0,19638.0,1053.0,33619.0,5.0,2004.0
2,1.0,73807.0,4900.0,5557.0,4035.0,7146.0,8702.0,4760.0,3202.0,8457.0,6943.0,19638.0,1389.0,33619.0,4.0,2005.0
3,0.0,65617.0,4100.0,2646.0,1844.0,4375.0,5518.0,2675.0,1893.0,5690.0,4658.0,19638.0,630.0,33619.0,5.0,2004.0
4,1.0,69367.0,4000.0,4384.0,3247.0,6739.0,7911.0,5054.0,3913.0,8707.0,7723.0,19638.0,1020.0,33619.0,4.0,2005.0
5,1.0,81054.0,5600.0,5827.0,4709.0,8149.0,9451.0,4908.0,3901.0,8577.0,6706.0,19638.0,594.0,33619.0,5.0,2004.0
6,1.0,65328.0,4200.0,4115.0,2980.0,6230.0,8603.0,4038.0,2966.0,8496.0,6240.0,19638.0,533.0,33619.0,5.0,2004.0
7,1.0,65805.0,4500.0,4578.0,3713.0,6942.0,8242.0,4342.0,3313.0,7707.0,6667.0,19638.0,825.0,33619.0,4.0,2005.0
8,1.0,49921.0,5600.0,7371.0,6417.0,9637.0,10778.0,7274.0,6196.0,10624.0,9687.0,21973.0,482.0,33619.0,2.0,2007.0
9,0.0,84872.0,7700.0,10988.0,9167.0,12580.0,14845.0,9752.0,7845.0,13656.0,11734.0,21973.0,1633.0,33619.0,2.0,2007.0